{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aler | Real estate for you</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/magnific-popup.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'static/css/richtext.min.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'static/css/image-uploader.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
            {% if request.user.is_authenticated %}
                        <div class="col-lg-10">
                        <div class="ht-widget">
                         <ul>
                             <li class="btn btn-outline-dark"><a href="mailto:mezardini@gmail.com">mezardini@gmail.com</a></li>
                             
                         </ul>
                         <a href="{% url 'signout' %}" class="hw-btn">Sign Out</a>
                         <br>
                         <a href="{% url 'property_submit' %}" class="hw-btn">Submit property</a>
                     </div>
                     </div>
                    {%else%}
                    <div class="col-lg-10">
                           <div class="ht-widget">
                            <ul>
                                <li class="btn btn-outline-dark"><a href="mailto:mezardini@gmail.com">mezardini@gmail.com</a></li>
                                <div class="dropdown-divider"></div>
                            </ul>
                            <a href="{% url 'register' %}" class="btn btn-outline-success">Become an agent</a>
                        </div>
                    </div>
                    {% endif %}
          
    </div>
    <!-- Offcanvas Menu Wrapper End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="col-lg-10">
                        <div class="ht-widget">
                         <ul>
                             <li class="btn btn-outline-dark"><a href="mailto:mezardini@gmail.com">mezardini@gmail.com</a></li>
                             
                         </ul>
                         <a href="{% url 'signout' %}" class="hw-btn">Sign Out</a>
                         <a href="{% url 'property_submit' %}" class="hw-btn">Submit property</a>
                     </div>
                     </div>
                    {%else%}
                    <div class="col-lg-10">
                           <div class="ht-widget">
                            <ul>
                                <li class="btn btn-outline-dark"><i class="icon_mail_alt"></i> mezardini@gmail.com</li>
                                
                            </ul>
                            <a href="{% url 'register' %}" class="btn btn-outline-success">Become an agent</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
        
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
   
    <!-- Breadcrumb Section End -->

    <!-- Contact Form Section Begin -->
    <section class="property-submit-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-submit-form">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- <div class="pf-title">
                                <h4>Title</h4>
                                <input type="text" placeholder="First Name" name="title">
                                <input type="text" placeholder="Last Name" name="title">                             
                                <input type="text" placeholder="Email Address" name="title">
                                <input type="text" placeholder="Password" name="title">
                                <input type="text" placeholder="Confirm Password" name="title">
                                
                            </div> -->
                            <div class="pf-property-details">
                                <h4>Register</h4>
                                {% if messages %}
                                <div class="pf-property-details">
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- <div class="property-details-inputs">
                                    
                                    <input type="text" placeholder="First Name" name="firstname">
                                    <input type="text" placeholder="Last Name" name="lastname">                             
                                    <input type="text" placeholder="Email Address" name="email">
                                    <input type="password" placeholder="Password" name="password1">
                                    <input type="password" placeholder="Confirm Password" name="password2"> -->
                                   
                                        <div class="form-row">
                                          <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="inputPassword4">First Name</label>
                                            <input type="text" class="form-control" name="firstname" id="inputPassword4" placeholder="First Name">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="inputEmail4">Last Name</label>
                                            <input type="text" class="form-control" name="lastname" id="inputEmail4" placeholder="Last Name">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="inputPassword4">Password</label>
                                            <input type="password" class="form-control" name="password1" id="inputPassword4" placeholder="Password">
                                          </div>
                                        </div>
                                        <p>Already have an account? <a href="{% url 'login' %}" style="text-decoration: none;">Login</a></p>
                                       
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                     
                                </div>
                                <!-- <button type="submit" class="site-btn">Submit Property</button> -->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form Section End -->

    <!-- Contact Section Begin -->
    
    <!-- Contact Section End -->

        <!-- Footer Section Begin -->
      
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.richtext.min.js' %}"></script>
    <script src="{% static 'js/image-uploader.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>